alembic==1.7.5
attr==0.3.2
attrs==22.1.0
click==8.0.3
d8s-dicts==0.6.0
d8s-hypothesis==0.6.0
d8s-lists==0.8.0
d8s-math==0.7.0
d8s-strings==0.5.0
d8s-uuids==0.6.0
dictdiffer==0.9.0
dnspython==2.1.0
dominate==2.6.0
email-validator==1.1.3
exceptiongroup==1.0.4
Flask==2.0.2
Flask-Bootstrap==3.3.7.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==20.1.0
hypothesis==6.58.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
inflect==6.0.2
ioc-fanger==4.2.1
ioc-finder==7.2.4
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
more-itertools==9.0.0
mpmath==1.2.1
number-tools==0.1.0
psycopg2==2.9.2
pydantic==1.10.2
pyparsing==3.0.9
PyPDF2==2.11.2
python-dotenv==0.19.2
sortedcontainers==2.4.0
SQLAlchemy==1.4.28
sympy==1.11.1
typing_extensions==4.4.0
visitor==0.1.3
Werkzeug==2.0.2
WTForms==3.0.0
zipp==3.6.0
